.container {
    display: flex;
}

.container>.title {
    color: #606266;
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0%;
    margin-left: 0%;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    margin-top: 2%;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}